<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${title}">title</h1>
    <div th:object="${inquiryForm}">
        <p th:text="*{name}"></p>
        <p th:text="*{email}"></p>
        <p th:text="*{contents}"></p>
        <form method="post" action="#" th:action="@{/inquiry/form}">
            <input type="hidden" name="name" th:value="*{name}">
            <input type="hidden" name="email" th:value="*{email}">
            <input type="hidden" name="contents" th:value="*{contents}">
            <input type="submit" value="Go Back">
        </form>
        <form method="post" action="#" th:action="@{/inquiry/complete}">
            <input type="hidden" name="name" th:value="*{name}">
            <input type="hidden" name="email" th:value="*{email}">
            <input type="hidden" name="contents" th:value="*{contents}">
            <input type="submit" value="Complete">
        </form>
    </div>
</body>
</html>