<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">title</h1>
<h2 th:text="${complete}"></h2>
<form method="post" action="#" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
    <label for="name">Name : </label>
    <input id="name" name="name" type="text" th:value="*{name}"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="email">Email : </label>
    <input id="email" name="email" type="text" th:value><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <label for="contents">Details : </label>
    <textarea name="contents" id="contents" rows="3" cols="40" th:field="*{contents}"></textarea><br>
    <div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
    <input type="submit" value="Confirm">
</form>
</body>
</html>